.vs/
/obj
/bin
MapsetParser.csproj
MapsetParser.sln
MapsetParserTest/obj
MapsetParserTest/MapsetParserTest.csproj
MapsetParserTest/bin/Debug/netcoreapp2.0/*
!MapsetParserTest/bin/Debug/netcoreapp2.0/testcases